.Task_Container {
    width: 97%;
    height: 100%;
    font-size: clamp(.87rem, 2vw, 3rem);
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: .25rem;
    align-items: center;
    border: 1.5vw solid #f09c2e;
    border-top: 0vw;
    overflow-y: auto;
}

.Task_Container > ul {
    width: 100%;
}

.Task_Container label:hover {
    filter: brightness(.8);
}

.Task_Container .tasks {
    width: 90%;
    height: fit-content;
    padding: .5rem;
    display: flex;
    gap: 1rem;
    border-radius: 1rem;
    align-items: center;
    cursor: pointer;
    transition: .15s ease-in;
}

.Task_Container .Finished {
    background-color: #51af0f;
    border: .25rem solid rgb(8, 97, 20);
}

.Task_Container .tasks > i{
    height: fit-content;
    width: fit-content;
    padding: 0;
    margin: 0;
}

.unchecked {
    color: transparent;
}

.checked {
    color: white;
}

.col {
    color: white;
}

.br{
    border: .25rem solid rgb(209, 108, 6);
}

.fs {
    font-style: normal;
}

.bgC {
    background-color: #f09c2e;
}

.fW {
    font-weight: normal;
}