*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;    
    background-image: linear-gradient(to bottom, #FDF9FF, #FDF9FF, #CAA0DD, #F8EDFD);
}