.sign_up_wrapper {
    display: flex;
    flex-direction: column;
    color: #B658E2;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    font-family: "Kulim Park", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaae2c;
}

.form_1 {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    overflow: hidden;
    background-color: #B658E2;
    border-radius: 1rem;
}

.form_1 .to_bottom {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

.form_1 > * {
    margin: 1.5rem;
}


.form_1 > header {
    color: white;
    font-size: 2.85rem;
    letter-spacing: 5px;
    text-align: center;
}


.form_1 .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form_1 .bottom .buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 1.2rem;
}

.form_1 .bottom .buttons > button {
    background-color: #fff;
    color: #B658E2;
    border: none;
    font-weight: bolder;
    font-size: 1rem;
    padding: .5rem 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px -1px black;
}

.form_1 .bottom .buttons > button:hover {
    background-color: #B658E2;
    color: #fff;
}

.form_1 .bottom .indicator {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: .5rem;
}

.form_1 .bottom .indicator > div {
    width: 20px;
    height: 7px;
    border-radius: 1rem;
}


.form_1 .bottom .indicator > .indicated {
    background-color: #D9D9D9;
}

.form_1 .bottom .indicator > .not_indicated {
    background-color: #00000066;
}



form .bottom .buttons > button {
    background-color: #fff;
    color: #B658E2;
    border: none;
    font-weight: bolder;
    font-size: 1rem;
    padding: .5rem 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px -1px black;
}

form .bottom > h4 {
    text-align: center;
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    margin-top: 2rem;
}

form .bottom .buttons > button:hover {
    background-color: #B658E2;
    color: #fff;
}

@media (max-width: 400px) and (max-height: 600px)  {
    .form_1 {
        width: 345px;
        height: 450px;
    }

    .form_1 > header {
        font-size: 2rem;
    }

    .form_1 .to_bottom {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }


    .form_1 .bottom .buttons > button {
        background-color: #fff;
        color: #B658E2;
        border: none;
        font-weight: bolder;
        font-size: .8rem;
        padding: .5rem 2rem;
        border-radius: 5px;
        box-shadow: 0 2px 5px -1px black;
    }    
}


@media (max-width: 400px) {
    
}